{% extends 'base.html' %}

{% block content %}
  <h1>NEW</h1>
  <form action="{% url 'articles:create' %}" method="POST">
    {% comment %} 포스트 요청떄는 무조건 csrf 토큰이 들어가야한다. {% endcomment %}
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <br>
    <label for="content">Content:</label>
    <textarea name="content" id="content"></textarea>
    <br>
    <input type="submit">
  </form>
  <a href="{% url 'articles:index' %}">INDEX</a>
{% endblock %}
